<h1>plants index</h1>

<div ng-controller="PlantsCtrl">
  <div class="listing">
  <ul>
    <div ng-repeat="plant in plants">
      <li>
        <img src="{{plant.image}}">
        {{plant.common_name}}
        <a ng-href="/plants/{{plant.id}}">Show</a>
        <a ng-href="/plants/{{plant.id}}/edit">Edit</a>
      </li>
    </div>
  </ul>
</div>
</div>




<%= link_to "New", new_plant_url %>