.table {
  text-align: center;

  th {
    text-align: center;
  }
}

.listing {
  li {
    list-style: none;
    border-bottom-style: solid;
  }
  img{
    width: 3em;
    height: 3em;
  } 
}

.mediaCard {
  clear: both;
  img{
    width: 10em;
    height: 10em;
    padding: 1em;
    float: left;
  }

  ul{
    list-style: none;
    float: left;
    padding-right: 3em;
  }

  margin-left: 2em;
}

.article {
  margin-left: 1.5em;
  font-size: 1em;
  clear: both;
  border-bottom-style: solid;

  input, textarea, select, .uneditable-input {
    border: 0.2em solid #bbb;
    padding: 0.5em;
    height: auto !important;
    margin-bottom: 2em;
    display: inline-block;
  }

  li {
    list-style-type: none;
    float: left;
    padding-right: 15px;
  }

  .field {
    width: 100%;
    clear: both;
  }

  .image_field {
    width: 70%;
  }

  text_area {
    width: 100%;
    float: left;
  }



}

.navLink {
  float: right;
  padding: 2em;
}