.table {
  text-align: center;

  th {
    text-align: center;
  }
}

.mediaCard {
  img{
    width: 15em;
    height: 15em;
    padding: 1em;
    float: left;
  }

  ul{
    list-style: none;
    float: left;
    padding-right: 3em;
  }

  margin-left: 2em;
}

.article {
  margin-left: 1.5em;
  font-size: 1em;

  input, textarea, select, .uneditable-input {
    border: 0.2em solid #bbb;
    width: 50%;
    padding: 0.5em;
    height: auto !important;
    margin-bottom: 2em;
  }
}

.navLink {
  float: right;
  padding: 2em;
}